<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>我是李贤均</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是好人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是坏人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我司大人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是好人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>好丽友</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>我是好人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是他</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是好人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是好人</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>好丽友</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>我是李贤均</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是李贤均</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>我是李贤均</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>4</string>
		<key>name</key>
		<string>lixianjun</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>接收到哈</string>
				<key>name</key>
				<string>我哦我</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>琳妮</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>lixianjun</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>lixianjun</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>上刊登的不成熟</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>睡觉奥不擦</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>2</string>
		<key>name</key>
		<string>lixianun</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>阿什顿不擦</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>合适的v</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>5</string>
		<key>name</key>
		<string>李贤均</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>李贤均你</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>2</string>
		<key>name</key>
		<string>昵称</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>intro</key>
				<string>十大就阿斯顿</string>
				<key>name</key>
				<string>昵称</string>
			</dict>
		</array>
		<key>online</key>
		<string>3</string>
		<key>name</key>
		<string>昵称</string>
	</dict>
</array>
</plist>
